In [1]:
import pandas as pd


def calculate_demographic_data(print_data=True):
    # Read data from file
    df = pd.read_csv('adult.data.csv')
    
    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_count = pd.Series(df['race']).value_counts()
    
    # What is the average age of men?
    average_age_men = df[df['sex'] == 'Male']['age'].mean() 
    
    # What is the percentage of people who have a Bachelor's degree?
    percentage_bachelors = "{:.2%}".format(len(df[df['education'] == 'Bachelors']) / len(df))

    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    # What percentage of people without advanced education make more than 50K?

    # with and without `Bachelors`, `Masters`, or `Doctorate`
    filter_education = ['Masters', 'Bachelors', 'Doctorate']
    higher_education = len(df.loc[df['education'].isin(filter_education)])
    lower_education = len(df.loc[~df['education'].isin(filter_education)])

    # percentage with salary >50K
    higher_education_rich =  round(higher_education / len((df['salary'] == '>50K')) * 100, 2)
    lower_education_rich =  round(lower_education / len((df['salary'] == '>50K')) * 100, 2)

    # What is the minimum number of hours a person works per week (hours-per-week feature)?
    min_work_hours = df['hours-per-week'].min()

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    num_min_workers = len(df[df['hours-per-week'] == 1])
    rich_percentage = round(len(df[df['hours-per-week'] == 1 & (df['salary'] == '>50K')]) / num_min_workers * 100, 2)

    # What country has the highest percentage of people that earn >50K?
    highest_earning_country = None
    highest_earning_country_percentage = None

    # Identify the most popular occupation for those who earn >50K in India.
    top_IN_occupation = None

    # DO NOT MODIFY BELOW THIS LINE

    if print_data:
        print("Number of each race:\n", race_count) 
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)

    return {
        'race_count': race_count,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage':
        highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation
    }

In [2]:
df = pd.read_csv('adult.data.csv')
df.tail()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [3]:
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

race_count = pd.Series(df['race']).value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [6]:
# What is the average age of men?
average_age_men = df[df['sex'] == 'Male']['age'].mean() 
average_age_men

36.85823043357163

In [33]:
# What is the percentage of people who have a Bachelor's degree?
percentage_bachelors = "{:.2%}".format(len(df[df['education'] == 'Bachelors']) / len(df))
percentage_bachelors

'16.45%'

In [47]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?

# with and without `Bachelors`, `Masters`, or `Doctorate`

filter_education = ['Masters', 'Bachelors', 'Doctorate']
higher_education = len(df.loc[df['education'].isin(filter_education)])
lower_education = len(df.loc[~df['education'].isin(filter_education)])

print(higher_education)
print(lower_education)

7491
25070

In [55]:
# percentage with salary >50K

higher_education_rich =  round(higher_education / len((df['salary'] == '>50K')) * 100, 2)
lower_education_rich =  round(lower_education / len((df['salary'] == '>50K')) * 100, 2)

print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")

Percentage with higher education that earn >50K: 23.01%
Percentage without higher education that earn >50K: 76.99%

In [70]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()

print(f"Min work time: {min_work_hours} hours/week")

Min work time: 1 hours/week

In [72]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = len(df[df['hours-per-week'] == 1])

rich_percentage = round(len(df[df['hours-per-week'] == 1 & (df['salary'] == '>50K')]) / num_min_workers * 100, 2)

print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")

Percentage of rich among those who work fewest hours: 10.0%

In [90]:
# What country has the highest percentage of people that earn >50K?

df['50K-pct'] = 100 * df['salary'] /  df.groupby('native-country')['salary'].transform('sum')

#highest_earning_country = None
#highest_earning_country_percentage = None

#print("Country with highest percentage of rich:", highest_earning_country)
#print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")

df.head()

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [ ]:
# Identify the most popular occupation for those who earn >50K in India.
top_IN_occupation = None

print("Top occupations in India:", top_IN_occupation)